/* ===== TÍTULO DA ÁREA ===== */
.titulo-area {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: var(--berry);
  margin-bottom: 24px;
  margin-top: 20px;
}

/* ===== NOTÍCIA EM DESTAQUE ===== */
.destaque {
  display: flex;
  gap: 24px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: var(--shadow);
  margin-bottom: 40px;
}

.destaque img {
  width: 50%;
  border-radius: 14px;
  object-fit: cover;
}

.destaque-texto h2 {
  font-size: 24px;
  color: var(--berry);
}

.btn-leia {
  display: inline-block;
  margin-top: 12px;
  background: var(--berry);
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
}

.btn-leia:hover {
  background: #bb5779;
}

/* ===== GRID DE NOTÍCIAS ===== */
.grid-noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 22px;
}

.card-noticia {
  background: white;
  border-radius: 18px;
  padding: 14px;
  box-shadow: var(--shadow);
}

.card-noticia img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 8px;
}

.card-noticia h3 {
  color: var(--berry);
  margin-bottom: 6px;
}

.card-noticia a {
  font-weight: 600;
  color: var(--berry);
}